.menu_navegacao {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-cinza_escuro);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 320px;
    height: 100%;
    margin-top: 10px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    margin-left: 5px;
}

.menu_navegacao .logo img {
    width: 130px;
    padding: 10px 0 0 10px;
}

.menu_navegacao ul {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

.menu_navegacao .menu__links li {
    list-style: none;
    font-size: 15px;
    font-family: var(--font-dm-sans);
}

.menu_navegacao .menu__links a {
    display: block;
    color: var(--bg-cinza_letra);
    text-decoration: none;
    padding: 10px 0 10px 0px;
    transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.menu_navegacao .menu__links a:hover {
    color: var(--bg-branco_letra);
    transform: scale(1.04);
    text-shadow: var(--shadow-brilho);
    /* Efeito de brilho suave */
}

.menu__biblioteca {
    display: flex;
    flex-direction: column;
    padding: 10px 0 10px 0;
}

.menu__biblioteca .titulo__biblioteca {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px 10px 25px;
    color: var(--bg-cinza_letra);
    text-decoration: none;
    transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;
}


.menu__biblioteca .titulo__biblioteca span {
    padding-left: 15px;
}

.menu__biblioteca .titulo__biblioteca span:hover {
    color: var(--bg-branco_letra);
    text-shadow: var(--shadow-brilho);
    /* Efeito de brilho suave */
}

.menu__biblioteca .titulo__biblioteca a {
    color: var(--bg-cinza_letra);
    text-decoration: none;
}

.menu-section__playlist {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-cinza_claro);
    margin: 10px 10px 3px 10px;
    padding: 16px 20px;
    border-radius: 10px;
}

.section-playlist__conteudo {
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: var(--bg-branco_letra);
}

.section-playlist__conteudo .titulo {
    font-size: 18px;
    font-weight: 600;
}

.section-playlist__conteudo .subtitulo {
    font-size: 14px;
    font-weight: 400;
}

.section-playlist__conteudo .btn-criar-playlist {
    display: flex;
    justify-content: center;
    background-color: var(--bg-branco);
    color: var(--cl-preto_letra);
    border-radius: 20px;
    font-size: 12px;
    font-weight: 700;
    text-decoration: none;
    text-transform: none;
    padding: 7px;
    margin-top: 12px;
    border: 0px;
    width: 100px;
    cursor: pointer;
}

.section-playlist__conteudo .btn-criar-playlist:hover {
    color: var(--bg-branco_letra);
    background-color: var(--bg-verde_spotify);
    transform: scale(1.04);
}

.menu-cookies {
    margin: 25px 0 0 0;
}

.menu-cookies a {
    color: var(--bg-cinza_letra);
    text-decoration: none;
    padding-left: 25px;
}

.menu-cookies span {
    color: var(--bg-cinza_letra);
    padding-left: 5px;
}

.menu-cookies span:hover {
    color: var(--bg-branco_letra);
    text-shadow: var(--shadow-brilho);
}

.menu-linguagem {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    margin: 0 0 10px 50px;
    border: 1px solid var(--bg-cinza_letra);
    border-radius: 10px;
    width: 200px;
    position: fixed;
    bottom: 0;
}

.menu-linguagem a {
    color: var(--bg-cinza_letra);
    text-decoration: none;
}

.menu-linguagem span {
    color: var(--bg-branco_letra);
    padding-left: 5px;
}

.menu-linguagem span:hover {
    color: var(--bg-branco_letra);
    text-shadow: var(--shadow-brilho)
}