:root {
    /* Fonte */
    --font-dm-sans: 'DM Sans', sans-serif;



    /* Cores de Fundo */ 
    --bg-cinza_escuro: #121212;
    --bg-cinza_claro: #242424;
    --bg-branco: #fff;
    --bg-verde_spotify: #1db954;



    /* Cores de Texto */
    --txt-cinza_letra: #b3b3b3;
    --txt-cinza_escuro_letra: #a7a7a7;
    --txt-branco_letra: #fff;
    --txt-preto_letra: #000;


    
    /* Efeito Shadow brilhante letra */
    --shadow-brilho: 0px 0px 5px rgba(255, 255, 255, 0.7);
}